{#
/**
 * @file test_redirect.html.twig
 * Default theme implementation to present Test redirect data.
 *
 * This template is used when viewing Test redirect pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_test_redirect()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('test_redirect') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
